<!-- ----------------------------Profile-------------------------------- -->
<section id="profile">
    <div class="section__pic-container">
        <img src="./assets/profilepic.png" alt="John Doe profile picture" />
    </div>
    <div class="section__text">
        <p class="section__text__p1">Hello, I'm</p>
        <h1 class="title">Faiyaz Mahmud</h1>
        <p class="section__text__p2">Computer Science Undergraduate</p>
        <div class="btn-container">
            <button class="btn btn-color-2"
                    onclick="window.open('./assets/resume.pdf')">
                Resume
            </button>
            <button class="btn btn-color-1" onclick="location.href='./#contact'">
                Contact Info
            </button>
        </div>
        <div id="socials-container">
            <img src="./assets/linkedin.png"
                 alt="My LinkedIn profile"
                 class="icon"
                 onclick="window.open('https://www.linkedin.com/in/faiyaz-mahmud27/', '_blank')" />
            <img src="./assets/github.png"
                 alt="My Github profile"
                 class="icon"
                 onclick="window.open('https://github.com/faiyaz103', '_blank')" />
        </div>
    </div>
</section>

<footer>
    <nav>
        <div class="nav-links-container">
            <ul class="nav-links">
                <partial name="_LoginPartial" />
            </ul>
        </div>
    </nav>
</footer>