<!-- ---------------------------About--------------------------------- -->
<section id="about">
    <p class="section__text__p1">Get To Know More</p>
    <h1 class="title">About Me</h1>
    <div class="section-container">
        <div class="section__pic-container">
            <img src="./assets/about2.png"
                 alt="Profile picture"
                 class="about-pic" />
        </div>
        <div class="about-details-container">
            <div class="about-containers">
                <div class="details-container">
                    <img src="./assets/experience.png"
                         alt="Experience icon"
                         class="icon" />
                    <h3>Experience</h3>
                    <p>Web Development<br>Java Swing Development</p>
                </div>
                <div class="details-container">
                    <img src="./assets/education.png"
                         alt="Education icon"
                         class="icon" />
                    <h3>Education</h3>
                    <p>B.Sc. in Computer Science and Engineering</p>
                </div>
            </div>
            <div class="text-container">
                <p>Hello there! I'm Faiyaz Mahmud, a passionate computer science undergraduate at Khulna University of Engineering and Technology. Ever since my school days, I've been fueled by a fervor for computer science. My journey has led me to a focus on Web and Software development, where I find joy in crafting digital experiences that make a difference.</p><br>
                <p>Competitive programming is not just a skill for me; it's a thrilling adventure that sharpens my problem-solving abilities. Beyond the lines of code, I find solace in the art of photography and the melodies of a guitar. These hobbies add a creative dimension to my life, allowing me to capture moments and create harmonies that resonate beyond the digital realm.</p><br>
                <p>As I navigate through the intricate world of technology, I am driven by a curiosity that propels me forward. Join me on this exciting journey where technology meets creativity, and let's build something amazing together!</p>
            </div>
        </div>
    </div>
    <img src="./assets/arrow.png"
         alt="Arrow icon"
         class="icon arrow"
         onclick="location.href='./#experience'" />
</section>
<!-- -------------------------------------------------------- -->
