<!-- --------------------------------Projects------------------------------- -->
<section id="projects">
    <p class="section__text__p1">Browse My Recent</p>
    <h1 class="title">Projects</h1>
    <div class="experience-details-container">
        <div class="about-containers">
            <div class="details-container color-container">
                <div class="article-container">
                    <img src="./assets/TOUR360.png"
                         alt="Project 1"
                         class="project-img" />
                </div>
                <h2 class="experience-sub-title project-title">Tour 360</h2>
                <div class="btn-container">
                    <button class="btn btn-color-2 project-btn"
                            onclick="window.open('https://github.com/faiyaz103/Tour360', '_blank')">
                        Github
                    </button>
                </div>
            </div>

            <div class="details-container color-container">
                <div class="article-container">
                    <img src="./assets/crazycandies.png"
                         alt="Project 2"
                         class="project-img" />
                </div>
                <h2 class="experience-sub-title project-title">Crazy Candies</h2>
                <div class="btn-container">
                    <button class="btn btn-color-2 project-btn"
                            onclick="window.open('https://github.com/faiyaz103/Crazy-Candies', '_blank')">
                        Github
                    </button>
                    <button class="btn btn-color-2 project-btn"
                            onclick="window.open('https://faiyaz103.github.io/Crazy-Candies/', '_blank')">
                        Live Demo
                    </button>
                </div>
            </div>

            <div class="details-container color-container">
                <div class="article-container">
                    <img src="./assets/doconthego.png"
                         alt="Project 3"
                         class="project-img" />
                </div>
                <h2 class="experience-sub-title project-title">DOC ON THE GO</h2>
                <div class="btn-container">
                    <button class="btn btn-color-2 project-btn"
                            onclick="window.open('https://github.com/faiyaz103/OOP_Project/tree/main/DOC%20ON%20THE%20GO', '_blank')">
                        Github
                    </button>
                </div>
            </div>
        </div>
    </div>
    <img src="./assets/arrow.png"
         alt="Arrow icon"
         class="icon arrow"
         onclick="location.href='./#contact'" />
</section>
<!-- -------------------------------------------------------------- -->